/*
Property of CD Tech


Contributers:
TC
James
Steven P.
Rachel D.


*/

/* Color Variables */
:root {
  --ligherBlueSteel: #f5fafc;
  --lightBlueSteel: #bdced5;
  --blackBlueSteel: #131719;
  --darkBlueSteel: #2e3e47;
  --blueSteel: #678693;
}

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Baskervville&family=Lato:ital,wght@0,100;0,300;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baskervville&family=Lato:ital,wght@0,100;0,300;1,100&family=Noto+Sans:wght@100&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: auto;
  background-color: var(--lighterBlueSteel);
}

/* Button Style */
.cdBtn {
  padding: 8px 16px;
  font-size: 1rem;
  display: inline-block;
  width: fit-content;
  border: none;
  border-radius: 3px;
  background-color: var(--darkBlueSteel);
  color: var(--lightBlueSteel);
}

.cdBtn:hover {
  background-color: var(--blueSteel);
  cursor: pointer;
}

/* Sidebar and Content Wrapper */
.mainPageWrapper {
  display: flex;
  position: relative;
  height: 100%;
  background-color: var(--ligherBlueSteel);
}

/* Sidebar */
.sidebarWrapper {
  display: block;
  width: 22%;
  position: sticky;
  z-index: 100;
  background-color: var(--ligherBlueSteel);
  box-shadow: 0px 0px 15px var(--darkBlueSteel);
}

.sidebar {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100%;
}

.logo {
  padding: 5px;
  margin-top: 20px;
  width: 100%;
}

.socials ul {
  display: flex;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: center;
}

.socials li {
  background-color: var(--blueSteel);
  padding: 10px;
  border-radius: 5px;
  font-size: 1rem;
}

.fa-linkedin-in {
  padding: 0 3px;
}

.fa-facebook-f {
  padding: 0 4px;
}

.socials li a {
  text-decoration: none;
  color: white;
}

.copyright {
  margin-top: auto;
  padding: 10px;
  font-size: 0.875rem;
}

/* Content */
.mainContentWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--ligherBlueSteel);
  position: static;
}

.content {
  height: 100vh;
  overflow-y: scroll;
}

/* Hero Section */
.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 85dvh;
  min-height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(./resources/images/hero-background.jpg);
  justify-content: center;
  align-items: start;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.65;
  background-color: var(--ligherBlueSteel);
}

.heroContent {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  max-width: 80%;
}

.heroContent,
h1,
p {
  color: var(--darkBlueSteel);
  z-index: 1;
  position: relative;
}

.heroContent h1 {
  font-size: 7vw;
  font-family: "Baskervville", serif;
  margin: 0px;
}

.heroContent p {
  font-size: 1.3vw;
  font-family: "Noto Sans", sans-serif;
  margin-top: 10px;
  font-weight: 200;
}

/* Media query breakpoints */
/* Phone */
@media screen and (max-width: 768px) {
  .mainPageWrapper {
    flex-direction: column;
  }

  .mainContentWrapper {
    /* margin-top: 200px; */
    overflow: hidden;
  }

  .sidebarWrapper {
    flex-direction: column;
    width: 100dvw;
    height: 70px;
    position: fixed;
  }

  .sidebar {
    flex-direction: row;
    align-items: center;
  }

  .logo-container {
    width: 200px;
    margin-top: 10px;
  }

  .logo {
    width: 100%;
    margin-top: 0;
  }

  .socials {
    margin-left: auto;
    margin-right: 15px;
  }

  .copyright {
    display: none;
  }

  .heroContent {
    margin: auto;
  }

  .hero {
    justify-content: center;
    align-items: start;
    height: 60dvh;
  }

  .heroContent h1 {
    font-size: 3rem;
  }

  .heroContent p {
    font-size: 1rem;
  }
}
/* Media query breakpoints less than 515px */
@media screen and (max-width: 515px) {
  .socials {
    display: none;
  }
}
/* Tablets / Laptops */
@media screen and (min-width: 769px) and (max-width: 1200) {
}

/* Desktops */
@media screen and (min-width: 1201px) and (max-width: 1400) {
}

/* Card Component Section */

/* Mobile Styles */
.cards {
  background-color: var(--lightBlueSteel);
}

.cards-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2.5em 0;
}

.card {
  width: 90%;
  background-color: #fff;
  margin-bottom: 2em;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.1);
}

img {
  width: 100%;
  display: block;
}

.card > img {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  max-width: 100%;
  object-fit: cover;
}

.card-content {
  padding: 0.25em 1em 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-content > p {
  font-size: 1rem;
  line-height: 1.35;
  font-family: "Noto Sans", sans-serif;
  text-align: justify;
  padding: 0 1em;
}

.btn-card {
  background-color: var(--blueSteel);
  margin: 0 auto;
  width: 50%;
  border: none;
  color: #fff;
  border-radius: 3px;
  padding: 1em 1.25em;
  letter-spacing: 1.1px;
  cursor: pointer;
}

.btn-card:hover {
  opacity: 0.8;
}

/* Tablet Styles */

@media (min-width: 720px) {
  .cards {
    height: 500px;
  }

  .cards-container {
    flex-direction: row;
    justify-content: space-around;
    padding: 3.5em 0;
  }

  .card {
    width: 45%;
  }

  .card-content > p {
    padding: 0 0.5em;
  }

  .btn-card {
    width: 50%;
  }
}

/* Desktop Styles */

@media (min-width: 1100px) {
  .cards {
    height: 600px;
  }

  .cards-container {
    max-width: 1000px;
    margin: 0 auto;
  }

  .card {
    max-width: 400px;
  }

  .card > img {
    transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1); /* Animation */
  }

  .card > img:hover {
    transform: scale(1.1);
  }

  .card-content > p {
    font-size: 1rem;
  }

  .btn-card {
    width: 40%;
    font-size: 1rem;
    padding: 0.75em 1em;
  }
}
