/*
Property of CD Tech


Contributers:
TC
James
Steven P.
Rachel D.
Shay Y.


*/

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Baskervville&family=Lato:ital,wght@0,100;0,300;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baskervville&family=Lato:ital,wght@0,100;0,300;0,700;1,100&family=Noto+Sans:wght@100&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');


/* Color Variables */
:root {
  --ligherBlueSteel: #f5fafc;
  --lightBlueSteel: #bdced5;
  --blackBlueSteel: #131719;
  --darkBlueSteel: #2e3e47;
  --blueSteel: #678693;
  /* Mobile head of header variable... for mobile sidebar height, mobile sidebar wrapper height, and top margin for content area */
  --headerHeight: 130px;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: auto;
  background-color: var(--lighterBlueSteel);
}

p {
  font-family: 'Lato', sans-serif;
}

h1 {
  font-family: 'Baskervville', serif;
  font-size: 3rem;
}

/* Button Style */
.cdBtn {
  padding: 8px 16px;
  font-size: 1rem;
  display: inline-block;
  width: fit-content;
  border: none;
  border-radius: 3px;
  background-color: var(--darkBlueSteel);
  color: white;
}

.cdBtn:hover {
  background-color: var(--blueSteel);
  cursor: pointer;
}

/* Navbar */
.navbar {
  background-color: var(--darkBlueSteel);
  color: white;
  height: 50px;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0, auto;
}

.navbar li {
  float: right;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 10px;
  margin-right: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.navbar a:hover {
  background-color: var(--blueSteel);
  border-radius: 3px;
}

/* Sidebar and Content Wrapper */
.mainPageWrapper {
  display: flex;
  position: relative;
  height: 100%;
  background-color: var(--ligherBlueSteel);
}

/* Sidebar */
.sidebarWrapper {
  min-width: 200px;
  max-width: 350px;
  display: block;
  width: 22%;
  position: sticky;
  z-index: 100;
  background-color: var(--ligherBlueSteel);
  box-shadow: 0px 0px 15px var(--darkBlueSteel);
  padding-top: 35px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100%;
  align-items: center;
}

.stacked-logo {
  padding: 5px;
  width: 80%;
  margin: auto;
}

.logo-container {
  margin-bottom: 10px;
}

.socials {
  width: 70%;
}

.socials ul {
  display: flex;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: auto;
  justify-content: space-evenly;
  width: 100%;
}

.socials li {
  background-color: var(--blueSteel);
  padding: 10px;
  border-radius: 5px;
  font-size: 1rem;
}

.fa-linkedin-in {
  padding: 0 3px;
}

.fa-facebook-f {
  padding: 0 4px;
}

.socials ul a {
  text-decoration: none;
  color: white;
}

.copyright[view="desktop"] {
  margin-top: auto;
  padding: 10px 10px 0;
  font-size: 0.875rem;
}

.copyright[view="desktop"] > p {
  margin-bottom: 5px;
}

.attribution[view="desktop"] > a {
  text-decoration: none;
  color: var(--lightBlueSteel);
  font-size: 0.75rem;
}

.mobile-copyright {
  display: none;
}

/* Content */
.mainContentWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--ligherBlueSteel);
  position: static;
}

.content {
  height: 100vh;
  overflow-y: scroll;
}

/* Hero Section */
.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 85dvh;
  min-height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/hero-background.jpg);
  justify-content: center;
  align-items: start;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.65;
  background-color: var(--ligherBlueSteel);
}

.heroContent {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  max-width: 80%;
  text-align: center;
  align-items: center;
}

.heroContent,
h1,
p {
  color: var(--darkBlueSteel);
  z-index: 1;
  position: relative;
}

.heroContent h1 {
  font-size: 7vw;
  font-family: "Baskervville", serif;
  margin: 0px;
  text-decoration: underline;
  font-style: italic;
}

.heroContent p {
  /* font-family: "Noto Sans", sans-serif; */
  margin-top: 10px;
  font-weight: bolder;
  font-size: larger;
}

.cd-split-section {
  display: flex;
  flex-direction: row;
  background-color: var(--darkBlueSteel);
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 100px 5%;
}

.cd-split-section img {
  max-width: 50%;
  border-radius: 10px;
}

.cd-split-text h1{
  color: var(--ligherBlueSteel);
  margin-bottom: 5px;
}

.cd-split-text p {
  color: var(--ligherBlueSteel);
}

.flex-reverse {
  flex-direction: row-reverse;
}

/* Media query breakpoints */
/* Phone */
@media screen and (max-width: 768px) {

  .stacked-logo {
    display: none;
  }

  .horizontal-logo {
    width: 180px;
  }

  .logo-container {
    margin-bottom: 15px;
  }

  .socials {
    max-width: 150px;
  }

  .socials ul {
    gap: 30px;
  }

  .socials ul li {
    padding: 5px;
    border-radius: 3px;
    font-size: 1rem;
  }

  .mainPageWrapper {
    flex-direction: column;
  }

  .mainContentWrapper {
    margin-top: var(--headerHeight);
    overflow: hidden;
  }

  .sidebarWrapper {
    flex-direction: column;
    width: 100dvw;
    height: var(--headerHeight);
    position: fixed;
    min-width: none;
    max-width: none;
    padding-top: 25px;
  }

  .sidebar {
    height: var(--headerHeight);
  }

  .heroContent {
    margin: auto;
  }

  .hero {
    justify-content: center;
    align-items: start;
    height: 60dvh;
  }

  .heroContent h1 {
    font-size: 3rem;
  }

  .heroContent p {
    font-size: 1rem;
  }

  .copyright[view="desktop"] {
    display: none;
  }

  .attribution[view="desktop"] > a {
    display: none;
  }

  .mobile-copyright {
    text-align: center;
    margin: 10px;
    display: block;
  }

  .cd-split-section {
    flex-direction: column;
    gap: 0px;
  }

  .cd-split-section img {
    max-width: 90%;
  }
}
/* Media query breakpoints less than 515px */
@media screen and (max-width: 515px) {
  /* .socials {
    display: none;
  } */
}


@media screen and (min-width: 769px) {
  .horizontal-logo {
    display: none;
  }

}

/* Core Values Section */

/* Mobile Styles */


.values {
  color: #F2F2F2;
  padding: 3em 0;
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #2C5364, #2e3e47  , #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #2C5364, #2e3e47, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: 0 auto;
}

h2.values-title {
  font-weight: 700;
  margin: 0 auto;
  font-size: 2rem;
  text-align: center;
  max-width: 1300px;
}

span.values-script {
  font-family: 'Square Peg', cursive;
  font-size: 3.25rem;
  margin-top: 3em;
}

.group-img {
  margin: 3em 0;
}

.animated-icon {
  border-radius: 50%;
}

.value-icon {
  background-color: white;
  width: 10%;
  border-radius: 50px;
  padding: .5em;
  margin: 0 auto;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
}

/*Individual values */

.value {
  text-align: center;
  margin: 4em auto;
}

h3.value-heading {
  font-family: 'Lato', sans-serif;
  margin: .5em auto;
  font-size: 1.75rem;
  letter-spacing: -.5px;
  width: 350px;
  font-weight: 700;
}

p.value-description {
  line-height: 1.5;
  padding: 0 .5em;
  color: rgba(255,255,255,.8);
  text-align: center;
  margin: 0 auto;
  max-width: 95%;
  font-size: 1.25rem;
}

/* Tablet Styles */

@media (min-width: 768px) {

  h2.values-title {
    font-size: 2.5rem;
  }
  span.values-script {
    font-size: 3.5rem;
  }

  .values-grid {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 0;
  }

  .group-img {
    width: 50%;
    border-radius: 5px;
    box-shadow: 3px 3px 6px rgba(0,0,0,0.3);
    margin: 2em auto;
  }

  .value-icon {
    width: 7%;
  }

  p.value-description {
    width: 80%;
    margin: auto;
  }
}

/* Desktop Styles */

@media (min-width: 1200px) {

  .values {
    padding: 3em 0;
  }

  .values-container {
    max-width: 1200px;
    margin: 0 auto 4em;
  }

  h2.values-title {
    font-size: 3rem;
    margin-bottom: .5em;
  }
  span.values-script {
    font-size: 4.5rem;
  }

  .value-icon {
    width: 15%;
  }

  h3.value-heading {
    margin: .5em auto;
    font-size: 1.5rem;
  }

  p.value-description {
    padding: 0;
    font-size: 0.875rem;
    text-align: center;
    width: 280px;
  }

  .values-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 250px 250px 150px;
    gap: 5px;
  }

  .group-img {
    width: 325px;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 3px 3px 6px rgba(0,0,0,0.3);
  }

  .values-img {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
  }

  .value-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin-top: 0;
  }

  .value-2 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    margin-top: 0;
  }

  .value-3 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .value-4 {
    grid-column: 3 / -1;
    grid-row: 2 / 3;
  }

  .value-5 {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
    padding-top: 1em;
  }

  .value-5 > .value-icon {
    height: 50px;
    width: 50px;
  }

  .value-5 > p.value-description {
    width: 350px;
  }
}




/* Card Component Section */

/* Mobile Styles */

.cards {
  background-color: var(--lightBlueSteel);
}

.cards-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2.5em 0;
}

.card {
  width: 90%;
  background-color: #fff;
  margin-bottom: 2em;
  border-radius: 8px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
}

img {
  width: 100%;
  display: block;
}

.card-top {
  overflow: hidden;
  border-radius: 10px 10px 0px 0px;
}

.card-top > img {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  max-width: 100%;
  object-fit: cover;
}


.card-bottom {
  padding: 1em;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.card-bottom > h2 {
  margin-bottom: 0;
}

p.card-content {
  font-size: 1rem;
  line-height: 1.35;
  font-family: "Noto Sans", sans-serif;
  text-align: justify;
  word-spacing: -0.05em;
  margin-top: .5em;
  height: 100px;
}

button.btn-card {
  background-color: var(--blueSteel);
  margin-top: .5em;
  width: 50%;
  border: none;
  color: #fff;
  border-radius: 3px;
  padding: 1em 1.25em;
  letter-spacing: 1.1px;
  cursor: pointer;
  transition: .5s ease;
}

button.btn-card:hover {
  opacity: .8;
}



/* Tablet Styles */

@media (min-width: 720px) {

  .cards-container {
    flex-direction: row;
    align-items: stretch;
    justify-content: space-around;
    padding: 3.5em 0;
  }

  .card {
    width: 45%;
    position: relative;
  }

  p.card-content {
    font-size: 0.875rem;
    margin-bottom: 4em;
  }

  button.btn-card {
    width: 50%;
    bottom: 1em;
    right: 1em;
    left: 1em;
  }


}

/* Desktop Styles */

@media (min-width: 1100px) {

  .cards-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 4em;
    gap: 30px;
  }

  .card {
    max-width: 400px;
    transition: .5s ease;
  }


  .card:hover {
    box-shadow: 0px 10px 20px 5px rgba(0,0,0,0.5);
    transform: translateY(-5px);
  }

  .card-top {
    overflow: hidden;

  }

  .card-bottom > h2 {
    font-size: 1.75rem;
  }

  p.card-content {
    font-size: 1rem;
    padding-bottom: 1em;
  }

  button.btn-card {
    width: 40%;
    font-size: 1rem;
    padding: 0.75em 1em;

    border: 2px solid var(--blueSteel);
    background-color: transparent;
    color: var(--blackBlueSteel);
  }

  .card:hover button.btn-card {
    background-color: var(--blueSteel);
    color: var(--ligherBlueSteel);
  }

}

/* Contact Form Section */

.contact {
  position: relative;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--lightBlueSteel);
}

.contact::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/contact-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  filter: brightness(45%);
}

.form {
  position: relative;
  color: #fff;
}

.contact h1 {
  color: #fff;
  font-size: 2rem;
  font-family: "Baskervville", serif;
  margin: 0;
}

.contact form {
  margin: 0;
  align-items: center;
  justify-content: center;
}

.contact form ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

.contact form label {
  display: inline-block;
  width: 90px;
  font-family: "Noto Sans", sans-serif;
}

.contact form li {
  margin-top: 1rem;
}

.contact input, textarea {
  font: 1rem sans-serif;
  width: 250px;
  box-sizing: border-box;
  border: 1px solid;
  border-radius: 3px;
}

.success-message {
  color: white
}

input:focus, textarea:focus {
  border-color: var(--lightBlueSteel);
}

.btn-contact {
  background-color: var(--lightBlueSteel);
  color: var(--blackBlueSteel);
  border: none;
  border-radius: 3px;
  margin-top: .5rem;
  padding: .5rem 2rem;
  font-family: "Noto Sans", sans-serif;
  font-size: 1rem;
  cursor: pointer;
  transition: .5s ease;
}

.btn-contact:hover {
  opacity: .7;
}